{% load static %}
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="#"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="#">Consultancy</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'human-resource' %}">Human Resources</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Services</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'event-management' %}">Event Management</a></li>
                                                <li><a href="{% url 'construction' %}">Construction & Interior
                                                    designing </a></li>
                                                <li><a href="{% url 'tour' %}">Tour & Travels </a></li>
                                                <li><a href="{% url 'human-resource' %}">Human Resources</a></li>
                                                <li><a href="#">Marketing</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Company</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        {% if user.is_authenticated %}
                                            <li class="login"><a href="#">
                                                <i class="ti-user"></i> Hi {{ user }}</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li class="login"><a href="#">
                                                <i class="ti-user"></i> Sign in or Register</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'login' %}">Sign</a></li>
                                                    <li><a href="{% url 'register' %}">Register</a></li>
                                                </ul>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>