{% load static %}
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="#">Consultancy</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'human-resource' %}">Human Resources</a></li>
                                                <li><a href="{% url 'register-candidate' %}">Candidate Register</a></li>
                                                <li><a href="{% url 'submit-vacancy' %}">Submit Vacancy</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Services</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'event-management' %}">Event Management</a>
                                                </li>
                                                <li><a href="{% url 'construction' %}">Construction & Interior
                                                    designing </a></li>
                                                <li><a href="{% url 'tour' %}">Tour & Travels </a></li>
                                                <li><a href="{% url 'human-resource' %}">Human Resources</a></li>
                                                <li><a href="{% url 'marketing' %}">Marketing</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Booking</a>
                                            <ul class="submenu">
                                                <b class="p-1"><i>Event</i></b>
                                                <hr class="p-0 m-0">
                                                <li><a href="{% url 'product-launch-booking' %}">Product Launch</a></li>
                                                <li><a href="{% url 'business-meeting-booking' %}">Business Meeting</a>
                                                </li>
                                                <li><a href="{% url 'live-show-booking' %}">Live Show </a></li>
                                                <li><a href="{% url 'wedding-booking' %}">Wedding</a></li>
                                                <li><a href="{% url 'birthday-booking' %}">Birthday</a></li>
                                                <b class="p-1"><i>Construction</i></b>
                                                <hr class="p-0 m-0">
                                                <li><a href="{% url 'construction-service-booking' 'construction' %}">Construction</a>
                                                </li>
                                                <li><a href="{% url 'construction-service-booking' 'interior_2d' %}">Interior
                                                    2D-Drawing</a></li>
                                                <li><a href="{% url 'construction-service-booking' 'interior_3d' %}">Interior
                                                    3D-Drawing</a></li>
                                                <b class="p-1"><i>Tour</i></b>
                                                <hr class="p-0 m-0">
                                                <li><a href="{% url 'solo-tour-booking' %}">Solo Tour</a></li>
                                                <li><a href="{% url 'family-tour-booking' %}">Family Tour</a></li>
                                                <li><a href="{% url 'college-tour-booking' %}">College Tour</a></li>
                                                <li><a href="{% url 'honeymoon-booking' %}">Honeymoon</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="{% url 'company-page' %}">Company</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        {% if user.is_authenticated %}
                                            <li class="login"><a href="#">
                                                <i class="ti-user"></i> Hi {{ user }}</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li class="login"><a href="#">
                                                <i class="ti-user"></i> Sign in or Register</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'login' %}">Sign</a></li>
                                                    <li><a href="{% url 'register' %}">Register</a></li>
                                                </ul>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>