{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center" style="min-height: 250px">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-20">
                        <h2>{{ title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card p-lg-5 m-lg-5">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-9 mb-0">
                        {{ form.full_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.age|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-9 mb-0">
                        {{ form.qualification|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-12 mb-0">
                        {{ form.skills|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.job_position|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.pin_code|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-12 mb-0">
                        {{ form.address|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}