{% extends 'base.html' %}
{% load static %}
{% block contents %}

    <!-- Hero Start-->
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Event Management</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="align-items-center m-5">
            <div class="row">
                <div class="col-12" style="text-align: justify; text-justify: inter-word;">
                    <h3 class="pb-1">Live Stage Shows</h3>
                    <p class="pt-1">Events are special and usually refers to a thing that happens or takes place,
                        especially one of importance. But how to organize an event? Does the event stage setup are
                        essential? What type of services will be there? Looking for such types of questions then the
                        article is beneficial for you. Because events are undone with stages. And with us, you’ll find
                        the best event organizers for stage shows. Event Organisers For Stage Show
                    </p>
                    <p>
                        Furthermore, event organizers are those who help to assemble and standardize the event
                        significantly. Because where there is a stage, there should be a host and organize to handle
                        one. Here, we at Vision Vivaah choose to be the best show organizers in India. Having years of
                        experience and a successful background check makes us popular internationally. Moreover, let’s
                        discuss the services for stage shows provided by us below.
                    </p>
                    <h3 class="pb-1">Event stage setup services</h3>
                    <p>
                        Setting up the stage could be the best option for making an event successful. The stage for
                        celebration, business, marketing, and function can make them well-introduced. Further, stage
                        shows demand a host and decoration to make it creative and attractive. And with us, you can make
                        the stage setup attentive for the audience. Here, Vision Vivaah brings the best ideas and event
                        stage setup services below.
                    </p>
                    <h3 class="pb-1">The Stage for annual and award functions</h3>
                    <p>
                        The stage for functions like annual shows or the award function is nothing without the stage.
                        Because with the help of a decorative stage, the participants come to represent their ideas in
                        different forms. Forms like dancing, singing, drama, comedy, act, etc. Moreover, the annual
                        functions help the students o celebrate their day. And the award functions are to accord those
                        who participated very well.
                    </p>
                    <h3 class="pb-1">Why choose us?</h3>
                    <p>
                        To structure and regulate the singing stage shows, our professional team are the best music
                        event
                        organizers. Further, our leading event management company has a team of professional staff and
                        services. We leave no stones unturned to make the event more stunning and striking. Importantly,
                        Vision Vivaah is proud to have an international reputation in an events company. Due to the wide
                        range of services and affordable rates, we are now at the foremost level. Look at the
                        highlighted
                        key points below.
                    </p>
                    <p>* We have a strong network to assemble a large scale event.</p>
                    <p>* Our professional team is passionate to organize the event.</p>
                    <p>* The services provided are at affordable rates.</p>
                    <p>* Our creative team brings different innovative and matchless ideas for different events.</p>
                    <p>* We’ll arrange the event with all sorts of tools and equipment needed, so don’t worry.</p>
                </div>
                <div class="m-4">
                    <a href="{% url 'live-show-booking' %}">
                        <button class="btn btn--radius-2 btn--red" type="submit"> Pick Your Order</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}