{% extends 'base.html' %}
{% block contents %}
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>About us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hero End -->
    <!-- About Details Start -->
    <div class="about-details section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle5 mb-80">
                        <span>Brief Of Excellence Group</span>
                        <h2>Making sure that our services exceed expectations
                            for performance, style and quality.</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <h3>Our Features</h3>
                    <p>Excellence group of companies is an upcoming and fastest growing network. Founded
                        in 2015 by Sandeep C S, which had started as providing educational training and has come along
                        way from its beginnings in Kerala and presently is the operational head in our regional branch.
                        Currently our company has expanded immensely in the field of digital marketing, event
                        management, interior and exterior architecture and consultancy services.
                        Excellence Group of Companies has always focussed on providing the best services to our clients
                        who require support for their professional life.</p>
                </div>
                <div class="col-lg-5">
                    <h3>Our Services</h3>
                    <p>YOUR DREAM WE SATISFY<br>DEVELOPING TALENTS<br>CONSULTANTS, WE WILL FIX IT<BR>EXCELLENCE
                        IS EXCELLENT</p>.
                </div>
            </div>
        </div>
    </div>
    <!-- About Details End -->

{% endblock %}