{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Human Resource</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hero End -->
    <div class="container">
        <div class="align-items-center m-5">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <img class="card-img rounded-0" src="{% static 'assets/img/blog-img/10.jpg' %}"
                         alt="">
                </div>
                <div class="col-md-5 col-sm-12" style="text-align: justify; text-justify: inter-word;">

                    <p class="justify-content-center">HR Helps Develop an Engaged Workforce
                        Excellence Group of the company is one of the best companies in Human resources. The
                        company provides end to end Hr management to syndicate and helps them address their
                        critical talent needs by providing complete workforce authority from enrolling
                        process
                        outsourcing to staffing solutions, permanent hiring, and leadership training and
                        success. our
                        endeavor is to help our clients and contestants win in the changing world of work.
                        From sign-on activities that point out the right people for each role to programs
                        that grant
                        employees more ways to participate and communicate, the HR department supports
                        employee spirit and helps employees develop a deeper commitment to the company and
                        its
                        goals.</p>
                    <p> The role of HR in a company is to help develop and coach managers to
                        do the best job
                        possible. HR ace has a lot of experience working with employees in all sorts of
                        situations.
                        Our role is to advise and assist direction on how to manage employees and deal with
                        hellish
                        situations.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}