{% extends 'base.html' %}
{% load static %}
{% block contents %}

    <!-- Hero Start-->
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Construction & Interior Designing</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="align-items-center m-5">
            <div class="row">
                <div class="col-12">
                    <h2>Construction</h2>
                    <img class="card-img rounded-0" src="{% static 'assets/img/custom/construction1.jpg' %}"
                         alt="">
                </div>

                <div class="col-12" style="text-align: justify; text-justify: inter-word;">
                    <h3 class="pb-1 pt-5">About Us</h3>
                    <p class="pt-1">Excellence Construction & Interior is a registered organization having Office in
                        Thrissur District and our operations wrap all over Kerala. We create and design
                        residence/office & plans as per the choice of the customers and undertake the
                        construction work from site leveling, excavation, complete structure from foundation
                        to roof, painting and furnishing. The management is always available to respond to
                        the queries as and when required even odd hours. Our group of professionals with
                        well qualified engineers and young talented staff are ready to meet the customer's
                        requirement even on an urgent basis. Our vast experience in the construction field
                        for over 10 years will help the customers to get the right choice. We have well
                        known regular suppliers and they supply the construction materials in the right
                        quality with a very competitive rate which will help the customers to rely upon.We
                        specialise in interior design and construction of bare shell corporate and
                        commercial spaces. We assist our clients either with full turnkey design and build
                        solutions, stand-alone interior design (space and theme planning), or project
                        execution (construction only).
                        Our talented and skilled in-house design team is fully trained to provide the best
                        corporate interiors solutions in India. These office fitout services are tailored to
                        the specific requirements of the individual client company, in each and every
                        project.
                        Our team comes from a broad range of backgrounds, which enables us to operate
                        effectively across our various service fields. Amongst them, our team members have
                        decades of experience with millions of square feet of space designed and built. This
                        knowledge and experience comes to fore to produce functional, sustainable and
                        efficient environments for our clients, on time, and within budget.
                        We invite you to perceive more about our projects, from office/residence/renovation
                        design and build to stand-alone interior design.Excellence Construction & Interior
                        has an excellent track record of constructing the best quality office interiors at
                        competitive prices. We aim to build the foundation of your business with our
                        world-class office design and turnkey interiors in Thrissur ,Kerala and all over
                        India!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-lg-5">
                    <h2>Construction</h2>
                    <img class="card-img rounded-0" src="{% static 'assets/img/custom/exterior.jpg' %}"
                         alt="">
                </div>

                <div class="col-12" style="text-align: justify; text-justify: inter-word;">
                    <p class="pb-4 pt-4">Architecture is a topic related to planning, designing and
                        constructing a building or a house. And interior theory is a small part of
                        Architecture.
                    </p>
                    <h3 class="pb-1">About The Course</h3>
                    <p class="pt-1">Interior Theory mainly deals with designing or planning the interior
                        of a building. The one who plans and designs the interior of a building is an
                        interior designer. Interior designers make the interior spaces more beautiful and
                        creative by specifying the space requirements. They make use of Blueprints to work
                        on interiors. And they must be aware of building codes and inspection regulations as
                        well as universal accessibility standards.
                        Interior design course or profession includes conceptual development, space
                        planning, site inspections, programming, research, communicating with the
                        stakeholders of a project, construction management, and execution of the design.
                        Interior design is mainly all about how we experience spaces inside a building. The
                        profession is creative and technical solutions used to achieve beautiful and safe
                        built interior environments. Designs are created according to the space, type of
                        space and the physical location of the project. The interior design process follows
                        a systematic method, including many research, analysis and integration of knowledge
                        into the creative process.
                    </p>

                    <h3 class="pb-1 pt-4">Who You Can Become</h3>
                    <p class="pt-1">Getting hand-on experience in ‘Interior Theory’ will open door to
                        vast number of opportunities, the roles to which you'll get hired are : </p>
                    <ul>
                        <li>Product Designer</li>
                        <li>CAD Specialist</li>
                        <li>Interior Designer</li>
                        <li>Residential Designer</li>
                        <li>Corporate Designer</li>
                    </ul>


                    <h3 class="pb-1 pt-4">Who Should Go For This Course</h3>
                    <p class="pt-1">The course is for those who have a background in Civil /
                        Architect.Candidates can register for the certificate programs straight after
                        finishing the first year of diploma/Bachelor in Engineering / Technology.
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- Categories Area Start -->
                <div class="categories-area section-padding2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Section Tittle -->
                                <div class="section-tittle text-center mb-80">
                                    <h2>Featured Categories</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-cat text-center mb-50">
                                    <div class="cat-icon">
                                        <span class="flaticon-bed"></span>
                                    </div>
                                    <div class="cat-cap">
                                        <h5><a href="{% url 'construction-construction' %}">Construction</a></h5>
                                        <p>Must explain your how this keind denoun pleasure</p>
                                        <a href="{% url 'construction-construction' %}">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-cat text-center mb-50">
                                    <div class="cat-icon">
                                        <span class="flaticon-drink"></span>
                                    </div>
                                    <div class="cat-cap">
                                        <h5><a href="{% url 'construction-interior-2d-drawing' %}">Interior 2D-Drawing</a></h5>
                                        <p>Must explain your how this keind denoun pleasure</p>
                                        <a href="{% url 'construction-interior-2d-drawing' %}">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-cat text-center mb-50">
                                    <div class="cat-icon">
                                        <span class="flaticon-home"></span>
                                    </div>
                                    <div class="cat-cap">
                                        <h5><a href="{% url 'construction-interior-3d-drawing' %}">Interior 3D-Drawing</a></h5>
                                        <p>Must explain your how this keind denoun pleasure</p>
                                        <a href="{% url 'construction-interior-3d-drawing' %}">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}