{% extends 'base.html' %}
{% load static %}
{% block contents %}

    <!-- Hero Start-->
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Marketing</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="align-items-center m-5">
            <div class="row">
                <div class="col-12">
                    <img class="card-img rounded-0" src="{% static 'assets/img/custom/marketing1.jpg' %}"
                         alt="">
                </div>
                <div class="col-12" style="text-align: justify; text-justify: inter-word;">
                    <h3 class="pb-4 pt-4">About Us</h3>
                    <p class="pt-1">You need the time and expertise of a professional digital marketing team who can
                        design a program around your specific needs. We lead your technologies to support an existing
                        campaign or a fresh strategy altogether. We offer global digital marketing services that suit
                        leveraging trusted platforms and a committed team. In the present world where social media
                        websites like Whatsapp , facebook, instagram etc. have become a basic part of our day today
                        lives, our business can be enlarged to be best of its power via successful promotions in these
                        mediums.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}