{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Tour & Travels</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hero End -->
    <div class="container">
        <div class="align-items-center m-5">
            <div class="row">
                <div class="col-12">
                    <img class="card-img rounded-0" src="{% static 'assets/img/custom/tour.jpg' %}"
                         alt="">
                </div>
                <div class="col-12" style="text-align: justify; text-justify: inter-word;">
                    <h3 class="pt-4 pb-2">Tours and Travels</h3>
                    <p class="pb-2">“The farther you travel, the closer you are to yourself”<br>
                        Who not loves to travel?! Of course, we all love it but what we settle down with is
                        to not go with our love that is to travel. But what is that backing off your love?
                        Is that where to go or best travel packages or expenses or any other excuses. Here’s
                        your area for the perfect tour packages from Excellence Group! Have a look at our
                        exciting packages.
                    </p>
                    <h3 class="pt-4 pb-2">Solo Travelling Package</h3>
                    <p class="pb-2">“Go Solo! The perfect way to get lost and search for yourself. Here are some of our
                        solo travelling packages with INR:
                        <ui>
                            <li>Goa - 3 Nights, 4 Days - INR: 5499</li>
                            <li>Mount Kailash - 9 Nights, 10 Days - INR: 13999</li>
                            <li>Discovering Mumbai - 2 Nights, 3 Days - INR: 5399</li>
                            <li>Gokarna Trekking - 2 Nights, 3 Days - INR: 4799</li>
                        </ui>
                    </p>
                    <h3 class="pt-4 pb-2">Family Travelling Packages</h3>
                    <p class="pb-2"> Want to spend some quality time with your family. We are here for you:
                        <ui>
                            <li>Shimla Tour - 3 Nights, 4 Days - INR: 5999/person</li>
                            <li>Jaipur Tour - 3 Nights, 4 Days - INR: 7999/person</li>
                            <li>Darjeeling - Gangtok Tour - 4 Nights, 5 Days - INR: 9499/person</li>
                        </ui>
                    </p>
                    <h3 class="pt-4 pb-2">College Travelling Packages</h3>
                    <p class="pb-2"> Planning for a memorable farewell? We have a bunch of tour packages to make your
                        college life memorable:
                        <ui>
                            <li>Agra - Jaipur - Delhi - 4 Nights, 5 Days - INR: 9000/person</li>
                            <li> Kashmir students tour packages - 4 Nights, 5 Days - INR: 8000/person</li>
                            <li>Delhi - Shimla - Manali - Chandigarh - 7 Nights, 8 Days - INR: 9000/person</li>
                        </ui>
                    </p>
                    <h3 class="pt-4 pb-2">Honeymoon Travelling Packages</h3>
                    <p class="pb-2">
                        Planning for your first romantic vacation? We have loads of packages!
                        <ui>
                            <li>Manali - 4 Nights - INR: 8599/person</li>
                            <li>Kashmir - 5 Nights - INR: 10000/person</li>
                            <li>Munnar - 3 Nights - INR: 5000/person</li>
                        </ui>
                    </p>
                    <p class="pb-2 pt-2">
                        The above packages are included with great facilities and the price
                        for solo, family, college travellings are negotiable depending on the count of
                        members.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="categories-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <h2>Featured Categories</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-bed"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'tour-solo-page' %}">Solo Travelling Package</a></h5>
                            <p>Must explain your how this keind denoun pleasure</p>
                            <a href="{% url 'tour-solo-page' %}">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-drink"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'tour-family-page' %}">Family Travelling Package</a></h5>
                            <p>Must explain your how this keind denoun pleasure</p>
                            <a href="{% url 'tour-family-page' %}">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-home"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'tour-college-page' %}">College Tour Package</a></h5>
                            <p>Must explain your how this keind denoun pleasure</p>
                            <a href="{% url 'tour-college-page' %}">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-food"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'tour-honeymoon-page' %}">Honeymoon Travelling Package</a></h5>
                            <p>Must explain your how this keind denoun pleasure</p>
                            <a href="{% url 'tour-honeymoon-page' %}">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}