{% extends 'base-admin.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h3>{{ title }}</h3>
    <div class="card">
        <h5 class="card-header" style="color: blue">Pending</h5>
        <div class="card-body">
            {% if data %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Booked By</th>
                        <th scope="col">Email</th>
                        <th scope="col">Number of Day</th>
                        <th scope="col">Square Feet</th>
                        <th scope="col">Work Progress</th>
                        <th scope="col">Construction Plan</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.booked_by }}</td>
                            <td>{{ item.booked_by.username }}</td>
                            <td>{{ item.number_of_day }}</td>
                            <td>{{ item.square_feet }}</td>
                            <td>{{ item.work_progress }}</td>
                            <td>{{ item.construction_plan }}</td>
                            <td>
                                <div class="btn-group-sm">
                                    <a href="{% url 'reject-constructions' item.id %}">
                                        <button class="btn btn-danger">Reject</button>
                                    </a>
                                    <a href="{% url 'accept-constructions' item.id %}">
                                        <button class="btn btn-success">Approve</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info m-1"> No Data</p>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <h5 class="card-header" style="color: green">Approved</h5>
        <div class="card-body">
            {% if approved %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Booked By</th>
                        <th scope="col">Email</th>
                        <th scope="col">Number of Day</th>
                        <th scope="col">Square Feet</th>
                        <th scope="col">Work Progress</th>
                        <th scope="col">Construction Plan</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in approved %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.booked_by }}</td>
                            <td>{{ item.booked_by.username }}</td>
                            <td>{{ item.number_of_day }}</td>
                            <td>{{ item.square_feet }}</td>
                            <td>{{ item.work_progress }}</td>
                            <td>{{ item.construction_plan }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info m-1"> No Data</p>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <h5 class="card-header" style="color: red">Rejected</h5>
        <div class="card-body">
            {% if rejected %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Booked By</th>
                        <th scope="col">Email</th>
                        <th scope="col">Number of Day</th>
                        <th scope="col">Square Feet</th>
                        <th scope="col">Work Progress</th>
                        <th scope="col">Construction Plan</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in rejected %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.booked_by }}</td>
                            <td>{{ item.booked_by.username }}</td>
                            <td>{{ item.number_of_day }}</td>
                            <td>{{ item.square_feet }}</td>
                            <td>{{ item.work_progress }}</td>
                            <td>{{ item.construction_plan }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info m-1"> No Data</p>
            {% endif %}
        </div>
    </div>
{% endblock %}